* {
  margin: 0px;
  font-family: "Oxygen", sans-serif;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #4253e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  z-index: 8;
}

nav h1 {
  margin-left: 20px;
  color: white;
  font-size: 1.1em;
}

nav button {
  margin-right: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 100%;
  border: 0px;
  color: white;
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav button:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #212c88;
}

nav input {
  width: 40%;
  background-color: #212c88;
  border: 2px solid white;
  border-radius: 5px;
  padding: 7px;
  color: white;
}

nav input::-webkit-input-placeholder {
  color: #c9c9c9;
  font-weight: bold;
}

nav input:-ms-input-placeholder {
  color: #c9c9c9;
  font-weight: bold;
}

nav input::-ms-input-placeholder {
  color: #c9c9c9;
  font-weight: bold;
}

nav input::placeholder {
  color: #c9c9c9;
  font-weight: bold;
}

main {
  min-height: calc(100vh - 75px);
  background-color: #f2f2f2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#no-products {
  height: calc(100vh - 75px);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#no-products svg {
  margin-top: 30px;
  height: 50vh;
  max-width: 90vw;
}

#no-products h3 {
  margin-top: 20px;
  color: #c5c5c5;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: transparent;
  border: 0px;
  font-size: 2em;
  cursor: pointer;
}

#add-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 9;
}

#add-menu form {
  background-color: white;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#add-menu form select {
  width: 100%;
  margin-bottom: 10px;
  border: 0px;
  background-color: #f3f3f3;
  padding: 10px;
}

#add-menu form textarea {
  resize: none;
  margin-bottom: 10px;
  border: 0px;
  background-color: #f3f3f3;
  padding: 10px;
  height: 20vh;
  width: 100%;
}

#add-menu form h3 {
  margin-bottom: 10px;
}

#add-menu form div {
  margin-bottom: 10px;
}

#add-menu form div input {
  border: 0px;
  background-color: #f3f3f3;
  padding: 10px;
}

#add-menu form div input:nth-of-type(1) {
  width: 70%;
  margin-right: 3%;
}

#add-menu form div input:nth-of-type(2) {
  width: 25%;
}

#add-menu form button {
  width: 50%;
  background-color: #4253e9;
  color: white;
  font-weight: bold;
  border: 0px;
  padding: 10px 0px;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#add-menu form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#list {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rootElement {
  width: 80vw;
  margin: 15px 0px;
}

.rootElement .category {
  background-color: #4253e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  color: white;
}

.rootElement .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 80vw;
  position: relative;
  z-index: -1;
  overflow-y: scroll;
}

.rootElement .content-box ::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

.rootElement .content-box ::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #c4c4c4 14%, #c4c4c4 64%);
  border-radius: 10px;
}

.rootElement .content-box ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #c4c4c4 14%, #c4c4c4 64%);
}

.rootElement .content-box ::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: inset 7px 10px 12px #f0f0f0;
          box-shadow: inset 7px 10px 12px #f0f0f0;
}

.rootElement .item {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.06);
  padding: 30px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 15px;
  max-width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rootElement .item button {
  background-color: #4253e9;
  border: 0px;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

.rootElement .item p {
  position: relative;
  max-width: 80%;
  text-align: center;
  word-wrap: break-word;
}

#search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  background-color: #f8f8f8;
  padding: 30px;
}

#search-result .item {
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  margin: 15px;
}

#search-result .item h2 {
  margin-top: 10px;
}

#search-result .item button {
  background-color: #4253e9;
  border: 0px;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}

#error-msg {
  width: 100%;
  font-size: 0.8em;
  margin-bottom: 10px;
  color: red;
  text-align: left;
  display: none;
}

@media only screen and (max-width: 400px) {
  nav h1 {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=main.css.map */