$mainColor: #4253e9;
$darkerColor: #212c88;
$mainFont: "Oxygen", sans-serif;

* {
  margin: 0px;
  font-family: $mainFont;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

nav {
  position: sticky;
  top: 0px;
  background-color: $mainColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  z-index: 8;
  h1 {
    margin-left: 20px;
    color: white;
    font-size: 1.1em;
  }
  button {
    margin-right: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 100%;
    border: 0px;
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: content-box;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.3);
      background-color: $darkerColor;
    }
  }

  input {
    width: 40%;
    background-color: $darkerColor;
    border: 2px solid white;
    border-radius: 5px;
    padding: 7px;
    color: white;

    &::placeholder {
      color: rgb(201, 201, 201);
      font-weight: bold;
    }
  }
}

main {
  min-height: calc(100vh - 75px);
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#no-products {
  height: calc(100% - 75px);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    margin-top: 30px;
    height: 60vh;
  }

  h3 {
    margin-top: 20px;
    color: #c5c5c5;
  }
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: transparent;
  border: 0px;
  font-size: 2em;
  cursor: pointer;
}

#add-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 9;

  form {
    background-color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    select {
      width: 100%;
      margin-bottom: 10px;
      border: 0px;
      background-color: #f3f3f3;
      padding: 10px;
    }

    textarea {
      resize: none;
      margin-bottom: 10px;
      border: 0px;
      background-color: #f3f3f3;
      padding: 10px;
      height: 20vh;
      width: 100%;
    }

    h3 {
      margin-bottom: 10px;
    }

    div {
      input {
        border: 0px;
        background-color: #f3f3f3;
        padding: 10px;

        &:nth-of-type(1) {
          width: 70%;
          margin-right: 3%;
        }
        &:nth-of-type(2) {
          width: 25%;
        }
      }
      margin-bottom: 10px;
    }

    button {
      width: 50%;
      background-color: $mainColor;
      color: white;
      font-weight: bold;
      border: 0px;
      padding: 10px 0px;
      border-radius: 50px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#list {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rootElement {
  width: 80vw;
  margin: 15px 0px;

  .category {
    background-color: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: white;
  }
  .content-box {
    display: flex;
    background-color: #f8f8f8;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 0px;
    transition: all 0.3s ease-in-out;
    width: 80vw;
    position: relative;
    z-index: -1;
    overflow-y: scroll;
    ::-webkit-scrollbar {
      width: 13px;
      height: 13px;
    }
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(13deg, #c4c4c4 14%, #c4c4c4 64%);
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(13deg, #c4c4c4 14%, #c4c4c4 64%);
    }
    ::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 10px;
      box-shadow: inset 7px 10px 12px #f0f0f0;
    }
  }
  .item {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.06);
    padding: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 15px;

    button {
      background-color: $mainColor;
      border: 0px;
      padding: 5px 20px;
      margin-top: 10px;
      border-radius: 50px;
      color: white;
      cursor: pointer;
    }
  }
}

#search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #f8f8f8;
  padding: 30px;

  .item {
    background-color: white;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 15px;
    h2 {
      margin-top: 10px;
    }

    button {
      background-color: $mainColor;
      border: 0px;
      padding: 5px 20px;
      margin-top: 10px;
      border-radius: 50px;
      color: white;
      cursor: pointer;
    }
  }
}
